
<% if user_signed_in? %>
    <h1>Bienvenido</h1>
    <b><%= current_user.email %></b>
<% else %>
    <h1> Necesitas registrarte o iniciar sesión</h1>
<% end %>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>